<div class="container">
  <h1>Regisztráció</h1>
  <form novalidate #form="ngForm" (ngSubmit)="register()">
    <div>
      <md-input-container>
        <input mdInput placeholder="Felhasználónév" [(ngModel)]="username" name="username" required>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input mdInput type="password" placeholder="Jelszó" [(ngModel)]="password" name="password" required
               minlength="4" #passwordCtrl="ngModel">
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input mdInput type="password" placeholder="Jelszó újra" ngModel [equalTo]="passwordCtrl"
               name="passwordConfirm">
      </md-input-container>
    </div>
    <div>
      <button md-raised-button color="accent" [disabled]="form.invalid || isLoading">Regisztráció</button>
    </div>
  </form>
</div>
